* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,

body {
    background: #161a1d;
    height: 100%;
}

h1 {
    font-size:76px;
    color: #ffffff;
}
h2 {
    font-size:76px;
    color: #ffffff;
}

footer {
	text-align:right;
	padding: 10px;
    color:#ffffff;
}

.menu-guzik {
    position: relative;
    padding: 20px 32px;
    border-radius: 12px;
    color: #ffffff;
    height: 100px;
	width: 170px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background: #e5383b;
    transition: all 0.3s ease;
	margin-right: 40px;
}
.menu-guzik:last-child {
	margin-right: 0;
}
.menu-guzik:hover {
        background: #660708;
    }



.guzik-maska {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1px;
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0) border-box;
    mask-composite: exclude;
}

.sekcja-mobile aside {
    width: 60%;
    height: 300px
    float: left;

}

.sekcja-mobile menu {
    width: 40%;
    height: 300px
    float: left;
}

@media (max-width: 768px) {
    .sekcja-mobile {
        display: block;
    }

    .sekcja-mobile aside,
    .sekcja-mobile menu {
        float: none;
        width: 100%;
    }
}


.guzik-glow {
    background: conic-gradient(from 0deg, transparent 0%, #fff 10%, #000, transparent 20%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
	animation: obrotGlow 3s linear infinite;
}

aside {
width: 60%;
height: 700px;
background-color:  #660708;
float: left;
color:#E1F5E8;
font-size:1.4em ;
}

menu {
width: 40%;
height: 700px;
background-color:#ba181b;
float: left;
color:#E1F5E8;
font-size:1.4em ;
}
section {
    width: 100%;
    float: left;
color:#E1F5E8;
font-size:34px ;
}
.tytul {
    color:#E1F5E8;
	display: flex;
	justify-content: center;
    align-items: center;
	font-size: 5em;
	padding: 10px;
}

.glowne-menu {
	display: flex;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width:500px;
    margin: 50px;
}
.gallery {
    width: 80%;
    max-width: 610px;
    height: 610px; 
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slideShow 24s infinite;
    border-radius: 10px;
}


.gallery img:nth-child(1) { animation-delay: 0s; }
.gallery img:nth-child(2) { animation-delay: 3s; }
.gallery img:nth-child(3) { animation-delay: 6s; }
.gallery img:nth-child(4) { animation-delay: 9s; }
.gallery img:nth-child(5) { animation-delay: 12s; }
.gallery img:nth-child(6) { animation-delay: 15s; }
.gallery img:nth-child(7) { animation-delay: 18s; }


@keyframes slideShow {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}

 table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
 th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    vertical-align: top;
    background-color: #FFFFFF;
  }
  th {
    background-color: #FFFFFF;
    font-weight: bold;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #f6f8fa;
  }
@media screen and (max-width: 768px) {
    aside, menu {
        display: block;
        background-color: #C2B280 ;
    }
}


@keyframes obrotGlow {
    0% { 
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100% { 
        transform: rotate(360deg) translate(-50%, -50%);
    }
}