* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,

body {
    background: #00159F;
    height: 100%;
}

h1 {
    font-size:76px;
    color: #E1F5E8;
}
h2 {
    font-size:76px;
    color: #E1F5E8;
}

footer {
	text-align:right;
	padding: 10px;
    color:#E1F5E8;
}

.menu-guzik {
    position: relative;
    padding: 20px 32px;
    border-radius: 12px;
    color: #E1F5E8;
	width: 170px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background: #DB3DA3;
    transition: all 0.3s ease;
	margin-right: 40px;
}
.menu-guzik:last-child {
	margin-right: 0;
}
.menu-guzik:hover {
        background: #773578;
    }



.guzik-maska {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1px;
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0) border-box;
    mask-composite: exclude;
}



.guzik-glow {
    background: conic-gradient(from 0deg, transparent 0%, #fff 10%, #000, transparent 20%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
	animation: obrotGlow 3s linear infinite;
}

aside {
width: 60%;
height: 80%;
background-color:  #DB3DA3;
float: left;
color:#E1F5E8;
font-size:34px ;
}

menu {
width: 40%;
height: 80%;
background-color:#773578 ;
float: left;
color:#E1F5E8;
font-size:34px ;
}
section {
    width: 100%;
    float: left;
color:#E1F5E8;
font-size:34px ;
}
.tytul {
    color:#E1F5E8;
	display: flex;
	justify-content: center;
    align-items: center;
	font-size: 50px;
	padding: 10px;
}

.glowne-menu {
	display: flex;
	justify-content: center;
    align-items: center;
}
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width:500px;
    margin: 50px;


}

@keyframes obrotGlow {
    0% { 
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100% { 
        transform: rotate(360deg) translate(-50%, -50%);
    }
}